<div>
    <h2 [style.color]="'red'">{{title}}</h2>
    <img [src] = 'imageUrl'>
    <ul>
    <li *ngFor="let author of authors">
        {{author}}
    </li>
    </ul>
    <input [(ngModel)]='email' (keyup.enter) ="onKeyUp()" />
    <table>
        <tr>
            <td [attr.colspan]='colSpan'>I am a Column</td>
        </tr>
    </table>
    <button (click)='onSave($event)' [class.disabled]='isDisabled' class='btn btn-danger'>Bootstrap Button</button>
    <mat-slider color="primary" min="1" max="100" step="1" value="1"></mat-slider>
</div>

